streamlit==1.28.1
streamlit_chat
langchain==0.0.333
python-dotenv
openai==1.2.2
faiss-cpu==1.7.4
pypdf==3.17.0
tiktoken==0.5.1
uvicorn[standard]
fastapi==0.104.1
redis==5.0.1
pymongo[srv]
ujson==5.8.0